<div class="col-sm-12">
<% profile_user = User.find(params[:id])%>

	<div class="col-xs-12 col-sm-8">
		<h2><%=profile_user.name %></h2>
		<p><strong>Email: </strong> <%= profile_user.email%> </p>
		<p><strong>Books Added: </strong> <%= @books_user_added.count %> </p>
		<p><strong>Last login Date: </strong><%= profile_user.last_sign_in_at.to_date %> </p>
		<p><strong>Last login Time: </strong> <%= profile_user.last_sign_in_at.strftime("%I:%M %p") %></p>
		<p><strong>Interested in : </strong>
			<span class="tags">Technology</span> 
			<span class="tags">Fiction</span>
			<span class="tags">Self-Help</span>
			<span class="tags">class-tags</span>
		</p>
	</div>             
	<div class="col-xs-12 col-sm-4 text-center">
		<figure>
		<%if profile_user.avatar?%> 
			<img src="<%= profile_user.avatar.url(:medium)%>" alt="profile image here" class="img-circle img-responsive">
		<% else %>
			<img src="/assets/dummyProfilePic.png" alt="profile image here" class="img-circle img-responsive">
		<% end %>
		</figure>
	</div>
</div>  

