<div class="row">
	<div class="col-xs-12 divider review-block" id="user_bottom_div">
		<%= will_paginate @books_user_added%>
			<% @books_user_added.each do |book_item| %>
			<div class="row">
				<div class="col-xs-3">
					<a href= "/books/<%= book_item.id %>"> 
				<%= image_tag book_item.book_img.url(:small) , class: "single_book_user_added" %>
		    </a>
					<div class="review-block-date"> <%date = book_item.created_at.to_date%>
					<%= date.strftime("%d %B %Y")%>
					<br> <i> <%= (Date.current - date).to_i%> days ago </i></div>
			</div>
				<div class="col-xs-9">
					
					<div class="review-block-title"><h4>
					<a href="/books/<%=book_item.id%>">
					<%= book_item.title %></h4>
					</a>
					</div>
					<div class="average-review-rating label" data-score="<%= book_item.reviews.average(:rating) %>"><span id="avg-rating-label" > Average Rating : </span>  </div>
					<div class="review-block-name"><i>  <%= book_item.author %> </i></div>
					<div class="review-block-description"><%= book_item.description%></div>
				</div>
			</div>
			<hr>
			<% end %>

		<%= will_paginate @books_user_added%>
	</div>

</div>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		score: function(){
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>