<%= will_paginate %>

<div class="row">
	<div class="col-md-12">
		<% @users.each do |user| %>
		<div class="user_names col-sm-4">
		<a href= "/user/<%= user.id %>"> 
			<%= user.name%>
		</a>
		</div>
		<div class="col-sm-8">
			<%= user.email%>
		</div>
		<% end %>
	</div>
</div>

<%= will_paginate  %>