<div class="container-fluid">
	<div class="media-left">
		<%= image_tag('my_logo.png', :alt => "User Image", height: '132', width: '132')%>
		<!-- <p> below</p>
		<p> add below</p> -->
		<%= icon('thumbs-up', 'It Worked!!!', id: 'my-icon', class: 'fa-5x') %>
	</div>
	<div class="media-body">
		<div class="jumbotron">
			<div class="row">
				<div class="col-sm-8">
					  <div><%= icon('book', 'Books Added') %> : <%= @books_user_added.count %> </div>
						<span>Last login Date : <%= current_user.last_sign_in_at.to_date %> </span>
						<br>
						<span> Last login Time : <%= current_user.last_sign_in_at.strftime("%I:%M %p")
							%></span>

				</div>
					<div class="col-sm-4">

						<%= link_to edit_user_registration_path, id: "edit_account" do%>
						<%= icon('edit', 'Edit Details', id: 'edit-icon', class: 'fa-2x') %>
						<% end %>
						<br>
						<%= link_to destroy_user_path(current_user), method: :delete, data: { confirm: "You sure?" } do%>
						<%= icon('user-times', 'Delete Account', id: 'delete-user-icon', class: 'fa-2x') %>
						<% end %>

					</div>
					</div>
					<hr>
					<div id="user-panel" >

						<%if current_user.user_role == :admin %>
						<%= render 'admin_panel' %>
						<% elsif current_user.user_role == :moderator%>
						<%= render 'moderator_panel' %>
						<% else%>
						<%= render 'registered_user_panel' %>
						<% end %>
					</div>

		</div>
	</div>
</div>
