<div class="container jumbotron row">
<div class="col-sm-8">
	<h3><%= current_user.email %></h3>
	

	<p style="text-align: left;">Books added : <%= @books_user_added.count %> </p>
	</div>
	<div class="col-sm-4">
		<span class="navbar navbar-right" >
			<div align="right">
			 <%= link_to "Delete Account", destroy_user_path(current_user), method: :delete, data: { confirm: "You sure?" } %>
			 <%= link_to "Edit Account", edit_user_registration_path %>
			</div> <br>
			<p > Last login Date : <%= current_user.last_sign_in_at.to_date %></p>
			<p  > Last login Time : <%= current_user.last_sign_in_at.strftime("%I:%M%p")
				%></p>
			</span>
		</div>
	</div>
