
<% if user_signed_in? %>
<%= link_to "Add Review", new_book_review_path(@book), class: "btn" %>
<% end %>
<div class="jumbotron">
	<% if !@book.reviews.nil? %>
	<div class="page-header">
		<h3>All Reviews :
		</h3>

		<h4><div class="average-review-rating label" data-score="<%= @average_review %>"> <abc class="btn" style="color:#0000FF"> Average Rating : </abc>  </div></h4>

	</div>
	<table class="table">
		<% @book.reviews.each do |review_item| %>
		<div class="row" >
			<!-- <p ><%= review_item.rating %></p>  -->
			<div class="review-rating" data-score="<%= review_item.rating %>"> </div>
			<p><%= review_item.comment %> </p>

			<% if user_signed_in? && review_item.user_id == current_user.id %>
			<%= link_to "Edit Review" ,  edit_book_review_path(review_item.book, review_item) , class: "btn" %> 
			<%= link_to "Delete Review" ,  book_review_path(review_item.book, review_item), class: "btn", method: :delete, data: {confirm: "Are you sure?"} %> 
			<% end %>
		</div>
		<hr>
	</table>
	<% end %>
	<% end %>
	
</div>