<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
<%= icon('home', class: 'fa-lg') %>
  <span class="caret"></span></a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
<li>
    <%= link_to user_path(current_user.id), :class => "user-list-item"  do%>
    <%= icon('user', "My Profle", id: 'user-role-icon', class: 'fa-lg') %>
    <% end %>      

</li>
   <%if current_user.user_role == :admin %>
     <li>
       <%= link_to admin_path(current_user.id) do%>
       <%= icon('user-secret', "Admin Panel", id: 'user-role-icon', class: 'fa-lg') %>
       <% end %>  
     </li> 
   <% end %>
<li role="separator" class="divider"></li>
<li>
   <%= link_to users_path, :class => "user-list-item"  do%>
   <%= icon('users', "All Users", id: 'users-icon', class: 'fa-lg') %>
   <% end %>   
</li>
 </ul>
</li>


<script>
  // $(document).ready(function(){
  //   // $('[data-toggle="tooltip"]').tooltip(); 
  //   $('#user-icon').tooltip();
  // })
</script>

